.formulario{
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid black;

}

.formulario input{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing:border-box; 
}   

.boton{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: blueviolet;
    color: white;
    border:none;

}
