.LibraryHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 24px 40px;
}
.LibraryHeader h1{
    margin: 0;
}

.Centrar{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 200px;
    border: 5px solid black;
    gap: 20px
}
.Orde{
    flex-direction: column;
}
.CentrarC{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centrar Horizontalemnte */
    align-items: center; /* Centrar Verticalmente */
}
